body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.container,
.footer {
  display: flex;
  justify-content: center;
}
.mainCode {
  width: 800px;
  border: 1px solid gray;
  padding: 30px;
}

#city {
  display: block;
  text-align: center;
}

#search-text-input {
  background-color: hsl(200, 90%, 92%, 0.6);
  border: none;
  text-align: center;
  border-radius: 30px;
}

#search-text-input::placeholder {
  text-align: center;
  color: #063d58;
  font-weight: 300;
}

#buttonFindCity {
  background-color: hsl(200, 88%, 29%, 0.4);
  color: hsl(200, 86%, 97%);
  border: none;
  border-radius: 30px;
}

.buttonLocation {
  display: block;
  margin: 15px auto;
  font-weight: 300;
  background-color: hsl(200, 88%, 29%, 0.4);
  color: hsl(200, 86%, 97%);
  border: none;
  border-radius: 30px;
  width: 220px;
}

.currentData {
  display: flex;
  justify-content: space-between;
  margin: 50px auto 120px auto;
}

.cityCountry h1,
.current-weather-info h1 {
  font-weight: 500;
  font-size: 38px;
  color: #063d58;
  margin-bottom: 10px;
}

h2 {
  font-weight: 300;
  font-size: 20px;
  color: #063d58;
  margin: 0px;
}

.active,
.active:hover {
  color: #063d58;
  text-decoration: none;
  cursor: default;
}

.inert,
.inert:hover {
  color: #9abbcf;
  text-decoration: none;
  cursor: pointer;
}

#description-current-weather::first-letter {
  text-transform: capitalize;
}

#currentWeatherIcon {
  width: 80px;
  display: block;
  margin: 0 auto;
}

.choosePeriod,
.choose-units-for-forecast {
  display: flex;
  justify-content: center;
  gap: 3%;
}

.choose-units-for-forecast {
  margin-bottom: 30px;
}

#todayWeatherData,
#weekWeatherData {
  color: #063d58;
  text-decoration: none;
  font-weight: 500;
}

.weatherData {
  display: flex;
  justify-content: space-between;
}

p.day {
  width: 50px;
  text-align: center;
  background-color: hsl(200, 88%, 29%, 0.4);
  color: aliceblue;
  border-radius: 30px;
  margin: 7px auto;
}

.row {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.col-2 {
  justify-content: center;
}
