body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.container,
.footer {
  display: flex;
  justify-content: center;
}
.mainCode {
  width: 800px;
  height: 638px;
  padding: 30px;
}

.weather-video-wrapper {
  position: relative;
}

video {
  width: 800px;
  height: 638px;
  position: fixed;
  object-fit: cover;
  z-index: -1;
}

#city {
  display: block;
  text-align: center;
}

#search-text-input {
  background-color: hsl(200, 90%, 92%, 0.6);
  border: none;
  text-align: center;
  border-radius: 30px;
}

#search-text-input::placeholder {
  text-align: center;
  color: #063d58;
  font-weight: 300;
}

#buttonFindCity {
  background-color: hsl(200, 88%, 29%, 0.4);
  color: hsl(200, 86%, 97%);
  border: none;
  border-radius: 30px;
}

.buttonLocation {
  display: block;
  margin: 15px auto;
  font-weight: 300;
  background-color: hsl(200, 88%, 29%, 0.4);
  color: hsl(200, 86%, 97%);
  border: none;
  border-radius: 30px;
  width: 220px;
}

.currentData {
  display: flex;
  justify-content: space-between;
  margin: 50px auto 200px auto;
}

.cityCountry h1,
.current-weather-info h1 {
  font-weight: 500;
  font-size: 38px;
  color: #f2fafe;
  margin-bottom: 10px;
}

h2 {
  font-weight: 300;
  font-size: 20px;
  color: #c6d1d8;
  margin: 0px;
}

.active,
.active:hover {
  color: #f2fafe;
  text-decoration: none;
  cursor: default;
}

.inert,
.inert:hover {
  color: #748998af;
  text-decoration: none;
  cursor: pointer;
}

#description-current-weather::first-letter {
  text-transform: capitalize;
}

#currentWeatherIcon {
  width: 80px;
  display: block;
  margin: 0 auto;
}

.weatherData {
  display: flex;
  justify-content: space-between;
}

p.day {
  width: 50px;
  text-align: center;
  background-color: hsl(200, 88%, 29%, 0.4);
  color: aliceblue;
  border-radius: 30px;
  margin: 7px auto;
}

.maxForecastTemperature {
  color: #f2fafe;
}

.minForecastTemperature {
  color: #c6d1d8;
}

.row {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
